/* ==UserStyle==
@name           Bulldog's Nyaa
@description    A simple rounded theme
@author         Bulldög#0533
@version        1.0
@namespace      github.com/Bulldog3321
@homepageURL    https://github.com/Bulldog3321/Bulldogs-Nyaa
@updateURL      https://bulldog3321.github.io/Bulldogs-Nyaa/Bulldog'sNyaa.user.css
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("nyaa.si") {

  :root {
    --background: rgba(0, 0, 0, 0.6);
    --hover: rgb(70, 70, 70);
    --radius: 10px;
    --transition: 0.25s;
  }

  /* navbar */
  .navbar {
    position: sticky;
    background: none !important;
    border-radius: var(--radius);
    border: none;
    min-height: 32px;
    top: 16px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding: 0;
  }
  .navbar .navbar-form {
    padding: 0 4px;
    margin: 0;
  }
  .navbar .navbar-right {
    margin: 0;
  }
  .navbar .navbar-brand,
  .navbar .nav li,
  .navbar .bootstrap-select button,
  #navFilter-criteria > .bootstrap-select:first-child > button,
  .navbar .form-control,
  .navbar .btn-primary {
    border-radius: var(--radius) !important;
    border: none !important;
    height: 32px;
    transition: background-color var(--transition);
  }
  .navbar .navbar-brand,
  .navbar .nav li,
  .navbar .bootstrap-select,
  .navbar .search-bar,
  .navbar .search-btn button {
    margin: 0 2px !important;
  }
  .navbar .search-btn {
    left: 4px;
  }
  .navbar .navbar-brand,
  .navbar .nav li,
  .navbar .btn:not(.btn-primary),
  .navbar .form-control {
    background-color: var(--background);
  }
  .navbar .navbar-brand:hover,
  .navbar .nav li:hover,
  .navbar .btn:not(.btn-primary):hover,
  .navbar .form-control:hover {
    background-color: var(--hover) !important;
  }
  .navbar .navbar-brand,
  .navbar .navbar-nav li a {
    color: #e2e2e2 !important;
    height: 32px;
    padding: 6px 12px;
  }
  .navbar .pull-left,
  .navbar .form-control {
    color: #e2e2e2 !important;
  }
  .navbar .bootstrap-select {
    border: none !important;
  }

  /* dropdown menu */
  .navbar .dropdown-menu {
    background-color: var(--background);
    border-radius: var(--radius) !important;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    margin-top: 4px !important;
    overflow: hidden;
  }
  .navbar .dropdown-menu .inner {
    background: none !important;
    margin-top: 0 !important;
  }
  .navbar .dropdown-menu > li {
    background: none;
    border-radius: 0 !important;
    margin: 0 !important;
    transition: background-color var(--transition);
  }
  .navbar .dropdown-menu > li:hover {
    background-color: var(--hover) !important;
  }
  .navbar .dropdown-menu > li > a {
    background: none !important;
    padding: 6px 12px;
  }

  /* page bar */
  .center,
  .center nav {
    position: sticky;
    height: calc(52px + 16px + 16px);
    width: fit-content;
    bottom: 0;
  }
  .center .pagination {
    background-color: var(--background);
    border-radius: var(--radius);
    padding: 10px;
    margin: 16px 0;
  }
  .center .pagination li a,
  .center .pagination li span {
    border-radius: var(--radius) !important;
    border: none;
    margin: 0 2px;
    transition: background-color var(--transition);
  }
  .center .pagination li::after {
    display: none;
  }
  p {
    margin-bottom: 16px;
  }

  /* torrent list */
  .table {
    border: none;
    margin-bottom: 0;
  }
  .table-responsive {
    border-radius: var(--radius);
  }
  body.dark .table-bordered > thead:first-child > tr:first-child > th,
  body.dark .table-bordered > tbody > tr > td {
    border: none;
  }
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    border-radius: var(--radius) !important;
  }

  /* torrent view */
  .panel {
    border-radius: var(--radius);
    border: none;
  }
  .panel .panel-heading {
    border-radius: var(--radius) var(--radius) 0 0;
    border: none;
  }
  .panel .panel-footer {
    border-radius: 0 0 var(--radius) var(--radius);
    border: none;
  }
  .panel .collapse.in {
    padding-bottom: 15px;
  }
}